/* large screen */
/*    992px +    */

/* Element styles: */
body {
	margin: 0 auto;
}

p {
	font-size: 1.5em;
}

label[for=nav-trigger]{
	display:none;
}

/* Classes: */

.navigation {
	display:none;
}

.nav-trigger {
	display:none;
}

.contact-name{
	margin-top:0.5em;
}
.contact-name, .contact-email{
	font-size:1.5em;
	margin-bottom:0.5em;
	width:30%;
}

.contact-comment{
	font-size:1.5em;
}

.contact-input{
	font-size:2em;
	margin-left:0;
}


.container {
	-webkit-box-shadow: 0 6px 20px 5px rgba(0,0,0,0.45);
	-moz-box-shadow: 0 6px 20px 5px rgba(0,0,0,0.45);
	box-shadow: 0 6px 20px 5px rgba(0,0,0,0.45);

	margin: 0 auto;
	width: 992px;
}

.parallax{
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top: 0;
	z-index: -1;
}
.parallax-container {
	height: 660px;
	overflow:hidden;
	position:relative;
}
.parallax-img {
	bottom: 0;
	display:block;
	left:50%;
	min-height:100%;
	min-width:100%;
	position:absolute;
	transform: translate3d(-50%, 0, 0);
	will-change:transform;
}

.headshot-container {
 	text-align: center;
 	transform: translateZ(0);
 	will-change:transform;
}

.information-block {
	margin-left: 1em;
	margin-right: 1em;
	width: calc(100% - 2em);
}

.information-block-h{
	font-size: 4em;
	margin-bottom:0;
	text-decoration: underline;
}

.information-block-p{
	margin-top:0;
}

.nav-placeholder {
	display:none;
}

.nav-container-small {
	background-color: #686a6d;
	text-align:center;
}

.nav-small {
	display:none;
}

.project-box {
	margin-left: 0.05em;
	margin-right: 0.05em;
	width: calc(33% - 2px);
}

.large-screen-buttons-container{
	display:inline-block;
	margin-bottom:1em;
	text-align:center;
}

.large-screen-buttons {
	list-style: none;
	padding-left:0;
}

.large-screen-buttons li {
	float:left;
}

.nav-button {
	background-color:transparent;
	border: 3px solid white;
	border-radius: 10px;
	color:white;
	display:inline-block;
	font-size: 2em;
	margin-left: 1em;
	margin-right: 1em;
	padding: 6px;
	text-decoration: none;
}

.nav-button:hover {
	border: 3px solid transparent;
	cursor: pointer;
	transition: border 0.2s ease-in-out;
}

.headshot {
	background: url('../images/large-headshot.jpg');
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border-radius: 200px 200px 200px 200px;
	display:inline-block;
	height: 21em;
	margin-top: 1em;
	width: 21em;

}

.large-screen-name {
	color:white;
	display:inline-block;
	font-family: 'Fugaz One', cursive;
	font-size: 4em;
	width:100%;
}

.full-name, .title {
	display:none;
}
