/* large screen */
/*    992px +    */

/* Element styles: */
body {
	margin: 0 auto;
}

h1 {
	font-size: 5em;
}

p {
	font-size: 1.5em;
}

label[for=nav-trigger]{
	display:none;
}

/* Classes: */

.navigation {
	display:none;
}

.nav-trigger {
	display:none;
}


.container {
	width: 992px;
	margin: 0 auto;
	border-right: 1px solid grey;
	border-left: 1px solid grey;

	-webkit-box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.45);
	box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.45);
}

.headshot-container {
	width: 100%;
	text-align: center;

	background-image: url("../images/Gampel_PavilionUCONN.jpg");
	height: 800px;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
}

.information-block {
	width: calc(100% - 2em);
	margin-right: 1em;
	margin-left: 1em;
}

.information-block h1{
	margin-bottom:0;
	text-decoration: underline;
}

.information-block p {
	margin-top:0;
}

.nav-placeholder {
	height: 5em;
}

.nav-container-small {
	background-color: #686a6d;
	text-align:center;
}

.nav-small {
	list-style-type: none;
	overflow:hidden;
	display: inline-block;
	padding-left:0;
	margin-top: 0;
	margin-bottom: 0;
}

.nav-small li {
	float: left;
	width: 7.5em;
	height: 5em;
	line-height: 5em;
	margin-left: 2em;
	margin-right: 2em;
	text-align:center;
}

.nav-small li a {
	color:white;
	text-decoration: none;
	font-size: 2em;
}

.nav-small li a:hover{
	color: black;
	-webkit-transition: 1s color;
}

.scrollBelowHeader {
	position: fixed;
	top: 0;
	box-shadow: 0 7px 5px 0px rgba(0, 0, 0, .5);
	background-color: rgba(104, 106, 109, .98);
	width: 992px;
}

.project-box {
	width: calc(33% - 2px);
}

.large-screen-buttons-container{
	text-align:center;
	display:inline-block;
}

.large-screen-buttons {
	list-style: none;
	padding-left:0;
}

.large-screen-buttons li {
	float:left;
}

.nav-button {
	margin-left: 1em;
	margin-right: 1em;
	color:white;
	background-color:transparent;
	border: 3px solid white;
	font-size: 2em;
	border-radius: 10px;
	display:inline-block;

}

.nav-button:hover {
	transition: border 0.2s ease-in-out;
	border: 3px solid transparent;
}

/*Id's: */

#headshot {
	height: 24em;
	width: 24em;

	margin-top: 2em;
	margin-bottom: 2em;

	background: url('../images/large-headshot.jpg');

	display:inline-block;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;

}

.large-screen-name {
	display:inline-block;
	font-family: 'Fugaz One', cursive;
	font-size: 5em;
	color:white;
	width:100%;
}

#name {
	display:none;
}
