/* Universal styles: */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}



/* Element styles: */

textarea {
	resize:none;
}

    /* zocial */

.zocial-twitter, .zocial-linkedin, .zocial-github {
  color: white;
  font-family: 'zocial', sans-serif;
  font-size: 1.5em;
  text-decoration:none;
  transition: 0.5s ease-in-out;
}


.zocial-twitter:hover {
    color: #1da1f2;
}

.zocial-linkedin:hover {
    color: #00a0dc;
}

.zocial-github:hover {
    color: #6cc644;
}

/* Classes: */

.underline{
	text-decoration: underline;
}

.container {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
}

.row {
	width: 100%;
}

.footer-container {
	background-color: #686a6d;
	color: white;
	display: inline-block;
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 3em;
	padding-left:0;
	text-align: center;
	vertical-align: middle;
	width:100%;
}

.footer {
	margin-top: 0;
	padding-left:0;
}

.footer li {
	display: inline-block;
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 1em;
	text-align:center;
}

/* projects section stuff */
.project-picture, .project-title,
.project-description,.project-link, .project-overview {
	transform: translateZ(0);
	transition: 0.3s ease-in-out;
	will-change: transform;
}

.project-description {
	margin-left: 5px;
}

.project-box{
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	display:inline-block;
	height: 15em;
	overflow:hidden;
	width: calc(33% - 2px);
}

.project-picture{
	text-align:center;
}

.project-title {
	font-size: 2em;
	text-align:center;
}

.project-link {
	text-align:center;
}
.project-link a {
	color: black;
}

.project-box:hover .project-picture,
.project-box:hover .project-overview{
	transform:translate3d(0,-15em, 0);
}

.large-screen-name{
	display: none;
}

.large-screen-buttons-container{
	display:none;
}

.contact-comment {
	width: calc(100% - 4em);
}

.send-button {
	background-color:transparent;
	border: none;
	text-decoration: underline;
}

.work:hover, .resume:hover, .about:hover, .contact:hover{
	cursor:pointer;
}