/* This class applies styles to all pages, regardless of screen size */

/* Universal styles: */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Maven Pro', sans-serif;
}

/* Element styles: */



/* Classes: */

.container {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}

.row {
	width: 100%;
}


/*Id's: */
 