/* Mobile/tablet */
/*   769px - 992px */

/* Element styles: */
body {
	margin: 0 auto;
}


label[for=nav-trigger]{
	display:none;
}

/* Classes: */

.navigation {
	display:none;
}

.nav-trigger {
	display:none;
}

.container {
	/*background-color:blue;*/
	width: 766px;
	margin: 0 auto;
	border-right: 1px solid grey;
	border-left: 1px solid grey;

	-webkit-box-shadow: 0 6px 20px 5px rgba(0,0,0,0.45);
	-moz-box-shadow: 0 6px 20px 5px rgba(0,0,0,0.45);
	box-shadow: 0 6px 20px 5px rgba(0,0,0,0.45);
}

.headshot-container {
	height: 22em;
	width: 100%;
	text-align: center;
	background-color: lightblue;
}


.information-block {
	width: calc(100% - 2em);
	margin-right: 1em;
	margin-left: 1em;
}

.information-block h1 {
	margin-bottom: 0;
	text-decoration: underline;
}

.information-block p {
	margin-top: 0;
}

.nav-placeholder {
	height: 50px;
}

.nav-container-small {
	background-color: #686a6d;
	text-align:center;
}

.nav-small {
	list-style-type: none;
	overflow:hidden;
	display: inline-block;
	padding-left:0;
	margin-top: 0;
	margin-bottom: 0;
}

.nav-small li {
	float: left;
	width: 85px;
	height: 60px;
	line-height: 60px;
	margin-left:25px;
	margin-right: 25px;
	text-align:center;
}

.nav-small li a {
	color:white;
	text-decoration: none;
	font-size: 150%;
}

/* when user scrolls below headshot/name */
.scrollBelowHeader {
	position: fixed;
	top: 0;
	box-shadow: 0 7px 5px 0 rgba(0, 0, 0, .6);
	width: 765px;
	background-color: rgba(104, 106, 109, 0.98);
}

.project-box {
	width: calc(50% - 3px);
}

/*Id's: */

.headshot {
	background: url('../images/medium-headshot.jpg');

	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border-radius: 200px 200px 200px 200px;
	-webkit-box-shadow: 0 4px 16px 10px rgba(66,63,66,0.59);
	-moz-box-shadow: 0 4px 16px 10px rgba(66,63,66,0.59);
	box-shadow: 0 4px 16px 10px rgba(66,63,66,0.59);

	display:inline-block;
	height: 19em;
	margin-bottom: 2em;
	margin-top: 2em;
	width: 19em;
}

.full-name{
	background-color: lightblue;
	color: white;
	font-family: 'Fugaz One', cursive;
	font-size: 4.5em;
	text-align: center;
}

.title {
	background-color: lightblue;
	border-bottom: 1px solid grey;
	color: white;
	font-family: 'Fugaz One', cursive;
	font-size: 2.5em;
	text-align: center;
}